In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('played_hour_sample_data.csv')

In [5]:
data.head()

    Outlook Temperature  Windy  Hours Played
0     Rainy         Hot      0            26
1     Rainy         Hot      1            30
2  Overcast         Hot      0            48
3     Sunny        Mild      0            46
4     Sunny        Cool      0            62

In [14]:
data.describe()

           Windy  Hours Played
count  10.000000     10.000000
mean    0.400000     41.400000
std     0.516398     13.590847
min     0.000000     23.000000
25%     0.000000     31.500000
50%     0.000000     40.500000
75%     1.000000     47.500000
max     1.000000     62.000000

In [17]:
STD = data['Hours Played'].std()
print(STD)

13.590846592876806