In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('played_hour_sample_data.csv')

In [5]:
data.head()

    Outlook Temperature  Windy  Hours Played
0     Rainy         Hot      0            26
1     Rainy         Hot      1            30
2  Overcast         Hot      0            48
3     Sunny        Mild      0            46
4     Sunny        Cool      0            62

In [8]:
#Total record number
n = len(data)

In [10]:
#Total
def isTotal(data):
    sum = 0
    for index, row in data.iterrows():
        sum += row['Hours Played']
    return sum

In [12]:
total = isTotal(data)

In [13]:
average = total/n
print(average)

41.4